<form action="/robots" method="post">
  <p> Enter a new robot: </p>
  <input type="text" name='robot[name]' placeholder="Robot Name"/><br/>
  <input type="text" name='robot[city]' placeholder="City"/><br/>
  <input type="text" name='robot[state]' placeholder="State"/><br/>
  <input type="text" name='robot[department]' placeholder="Department"/><br/>
  <input type='submit'/>
</form>
